<tr>
<td style="width: 15em;">{{originalName}}</td>
<td><button (click)="edit()">Edit</button></td>
<td class="action" *ngIf="employer.PositionCount == 0"><button (click)="remove()">Remove</button></td>
<td class="action" *ngIf="employer.PositionCount == 1">1 position</td>
<td class="action" *ngIf="employer.PositionCount > 1">{{ employer.PositionCount }} positions</td>
</tr>
<tr *ngIf="'' !== updateMsg"><td class="center alert" colspan="3">{{updateMsg}}</td></tr>
<tr [ngStyle]="{'display': isExpanded }">
<td colspan="3">
<div class="sub-container">
<div>
<table>
<tr><td style="width: 6em;">Name</td><td><input type="text" #employerName [(ngModel)]="employer.Name" /></td></tr>
<tr><td>Industry</td><td><app-select-industry [selectedValue]="employer.IndustryID" (selectChanged)="onIndustryChanged($event)" /></td></tr>
<tr><td style="vertical-align: top">Description</td><td><textarea style="min-width: 16em; max-width: 16em" [(ngModel)]="employer.Spiel"></textarea></td></tr>
<tr><td></td><td><button (click)="update()">Update</button>&nbsp;<button (click)="cancel()">Cancel</button></td></tr>
</table>
</div>
</div>
</td>
</tr>
