<div class="container" style="width: 31em;">
<div class="header">Employers</div>
<hr>
<div class="center" *ngIf="!employers || (0 == employers.length)">There are no employers in the database.</div>
<table class="center" *ngIf="employers && (0 != employers.length)">
<app-edit-employer *ngFor="let item of employers" [employer]="item" />
</table>
<hr>
<div class="center">
<span [ngStyle]="{'display': isExpanded ? 'none' : 'inline'}" (click)="toggleAddDiv()">Add employer&#9660;</span>
<span [ngStyle]="{'display': isExpanded ? 'inline' : 'none'}" (click)="toggleAddDiv()">Add employer&#9650;</span>
</div>
<div *ngIf="isExpanded">
<table class="center">
<tr><td>Name</td><td><input type="text" [(ngModel)]="newEmployer.Name"/></td></tr>
<tr><td>Industry</td><td><app-select-industry [selectedValue]="newEmployer.IndustryID" (selectChanged)="onIndustryChanged($event)" /></td></tr>
<tr><td></td><td><button [disabled]="disableAddButton()" (click)="add()">Add</button></td></tr>
</table>
<div *ngIf="updateMsg !==''" class="center alert">{{updateMsg}}</div>
</div>
</div>

