<div class="container" style="width: 31em;">
<div class="header">Positions</div>
<hr>
<div class="center" *ngIf="!positions || (0 == positions.length)">There are no positions in the database.</div>
<table class="center" *ngIf="positions && (0 != positions.length)">
<app-edit-position *ngFor="let item of positions" [position]="item" />
</table>
<hr>
<div class="center">
<span [ngStyle]="{'display': isExpanded ? 'none' : 'inline'}" (click)="toggleAddDiv()">Add position &#9660;</span>
<span [ngStyle]="{'display': isExpanded ? 'inline' : 'none'}" (click)="toggleAddDiv()">Add position &#9650;</span>
</div>
<div *ngIf="isExpanded">
<table class="center">
<tr><td>Title</td><td><input type="text" [(ngModel)]="newPosition.Title"/></td></tr>
<tr><td>Employer</td><td><app-select-employer [selectedValue]="newPosition.EmployerID" (selectChanged)="onEmployerChanged($event)" /></td></tr>
<tr><td></td><td><button [disabled]="disableAddButton()" (click)="add()">Add</button></td></tr>
</table>
<div *ngIf="updateMsg !==''" class="center alert">{{updateMsg}}</div>
</div>
</div>
