<div class="container" style="width: 30.5em;">
<div class="header">Work History</div>
<div class="center" *ngIf="!history || (history.length == 0)">(No work history loaded)</div>
<table style="width: 100%;" *ngIf="history && (history.length > 0)">
<tr *ngFor="let item of history">
<td style="width: 15em;">{{item.EmployerName}}</td>
<td style="width: 15em;">{{item.PositionTitle}}</td>
</tr>
</table>
<hr/>
<div class="center" *ngIf="!addIsExpanded" (click)="toggleAdd()">Add work history &#9660;</div>
<div class="center" *ngIf="addIsExpanded" (click)="toggleAdd()">Add work history &#9650;</div>
<div class="center" *ngIf="addIsExpanded">Stuff to add here...</div>
</div>
