<div class="container" style="width: 30.5em;">
<div class="header">Work History</div>
<div class="center" *ngIf="!history || (history.length == 0)">(No work history loaded)</div>
<table style="width: 100%;" *ngIf="history && (history.length > 0)">
<tr *ngFor="let item of history">
<td><app-work-history-entry [entry]="item"/></td>
</tr>
</table>
<hr/>
<div class="center" *ngIf="!addIsExpanded" (click)="toggleAdd()">Add work history &#9660;</div>
<div class="center" *ngIf="addIsExpanded" (click)="toggleAdd()">Add work history &#9650;</div>
<div class="center" *ngIf="addIsExpanded">
<table class="form">
<tr><td>Employer</td><td><app-dropdown-control (valueChanged)="onEmployerNameChange($event)" [options]="employers" /></td></tr>
<tr><td>Position</td><td><input type="text" [(ngModel)]="newWorkHistoryInput.PositionTitle"/></td></tr>
<tr><td>Start</td><td><input type="date" [(ngModel)]="newWorkHistoryInput.StartDate" /></td></tr>
<tr><td>Current position?</td><td><input type="checkbox" [(ngModel)]="newWorkHistoryInput.IsCurrent"/></td></tr>
<tr *ngIf="!newWorkHistoryInput.IsCurrent"><td class="test">End</td><td><input type="date" [(ngModel)]="newWorkHistoryInput.EndDate"/></td></tr>
<tr><td></td><td><button (click)="addWorkHistory()">Add</button></tr>
<tr *ngIf="'' != updateMsg"><td></td><td class="alert">{{updateMsg}}</td></tr>
</table>
</div>
</div>
