<div class="sub-container">
<div>
<span>{{entry.PositionTitle}}</span><br/>
<span>{{entry.EmployerName}}</span><br/>
<span *ngIf="entry.IsCurrent">Since {{startDate}}</span>
<span *ngIf="!entry.IsCurrent">{{startDate}} to {{endDate}}</span>
<span *ngIf="!isExpanded" style="float: right;" (click)="toggleExpansion()">&#9660;</span>
<span *ngIf="isExpanded" style="float: right;" (click)="toggleExpansion()">&#9650;</span>
</div>
<hr *ngIf="isExpanded" />
<div *ngIf="isExpanded">
<div class="center">Functions</div>
<div *ngIf="null == functions || 0 == functions.length" class="center small">No functions are defined for this position.</div>
<div *ngIf="null != functions && 0 != functions.length" style="display: flex; flex-wrap: wrap;">
<span class="function" *ngFor="let item of functions">{{item.Name}}</span>
</div>
<div class="center"><input type="text" [(ngModel)]="newFunction"/>&nbsp;<button (click)="addFunction()">Add function</button></div>
<div class="alert" *ngIf="'' != updateMsg">{{updateMsg}}</div>
</div>
</div>
