.bar {
	background-color: #ddeeff;
	height: 27pt;
	border-radius: 10px;
	vertical-align: center;
	padding: 7px;
}

.title {
	font-size: 24pt;
	color: #0077ee;
	margin-right: 1em;
}

.subtitle {
	font-size: 12pt;
	color: #0077ee;
}

.subtitle span {
	cursor: pointer;
}

.subtitle span:hover {
	font-size: 12pt;
	color: white;
}

.center {
	width: auto;
	margin: auto;
}
