<app-top-bar [userID]="userID"/>
<table style="margin: 0 auto;">
<tr>
<td style="vertical-align: top;">
<div class="container" style="width: 62em;">
<div>
<table *ngIf="null !== userData">
<tr><td>Given name</td><td><input id="profile_given_name" [(ngModel)]="userData.GivenName" /></td></tr>
<tr><td>Middle name(s)</td><td><input id="profile_middle_name" [(ngModel)]="userData.MiddleName" /></td></tr>
<tr><td>Surname</td><td><input id="profile_family_name" [(ngModel)]="userData.FamilyName" /></td></tr>
<tr><td>Summary</td><td><input id="profile_summary" [(ngModel)]="userData.Summary" /></td></tr>
<tr><td>E-mail</td><td><input id="profile_emailaddress" [(ngModel)]="userData.EmailAddress" /></td></tr>
</table>
</div>
</div>
</td>
<td style="vertical-align: top;"><app-ad-feed /></td>
</tr>
</table>
