body {
	font-family: sans-serif;
	margin: 0;
	cursor: default;
}

.container {
	width: auto;
	margin: 1em .5em 0 .5em;
	border: 1px solid #cccccc;
	border-radius: 10px;
	box-shadow: 0 10px 15px #dddddd;
}

.container div {
	margin: 7px;
}

.container hr {
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-top: 1px solid #cccccc;
}

.header {
	font-size: 120%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.alert { color: red; text-align: center;}

.small { font-size: 80%; }

table caption { font-size: 120%; }

table tr td { text-align: left; }

.sub-container {
	width: auto;
	margin: 1em .5em 0 .5em;
	border: 1px solid #cccccc;
	border-radius: 7px;
	box-shadow: 0 7px 10px #dddddd;
}

.sub-container div {
	margin: 5px;
}

.sub-container hr {
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-top: 1px solid #cccccc;
}

table.form td:nth-child(1)
{
	padding-right: .5em;
}

[type="checkbox"]
{
	width: 12pt;
	height: 12pt;
	margin-left: 0;
}
