.select-box
{
	margin: 0;
	position: relative;
}

.input-box
{
	width: 12.675em;
}

.match-box
{
	background-color: #fff7df;
	border: 1px solid #dddddd;
	margin: 0;
	position: absolute;
	left: -.5em;
	top: 1.5em;
	min-width: 12em;
	overflow-x: hidden;
	max-height: 5em;
	z-index: 1000;
}

.match-box div
{
	font-size: 10pt;
	margin: 0;
	padding: 1px;
	white-space: nowrap;
	width: auto;
}
